.video{
    margin-top:8em;
    padding: 4em;
@media screen and(max-width:650px){
    padding: 2em;
    margin-top: 4em;
}
@media screen and( max-width:99999999999999px) and (min-width:1450px){
    padding-right:10em;
    padding-left: 10em;
    
  }
   text-align: center;
   h1{
       color: #814F8C;
       font-size: 3em;
       @media screen and (max-width:1100px){
        font-size: 2em;
    }
   }
   .videoframe{
       margin-top: 4em;
       width: 70vw;
       height: 40vw;
       border-radius: 24px;
       @media screen and(max-width:1100px) {
           width: 85vw;
           height: 400px;
       }
    //    @media screen and(max-width:1100px) {
    //        width: 80vw;
    //        height: 300px;
    //    }
       @media screen and(max-width:550px) {
           height: 55vw;
           width: 85vw;
           border-radius: 10px;
        //    width: ;
       }
   }
}