.downlaod_now{
    background-color: #F4F7FF;
    text-align: center;
    margin-top: 8em;
    padding:8em;
    @media screen and(max-width:1100px){
        padding: 4em;
    }
    @media screen and(max-width:650px){
        padding: 2em;
        padding-top: 4em;
        padding-bottom: 4em;
        margin-top: 4em;
    }

      h1{
        text-align: center;
        color: #814F8C;
        font-weight: 700;
        font-size: 3em;
        padding-bottom: .5em;
        text-transform: uppercase;
      
        @media screen and (max-width:1100px){
            font-size: 2em;
        }
        @media screen and(max-width:650px){
            font-size: 1.3em;
            br{
                display: none;
            }
        }
        
    }
    h4{
        padding-top: .8em;
        color: #404040;
        font-weight: 400;

    }
    .d-img{
        position: absolute;
        float: right;
        left: 60%;
        margin-top: -5em;
        -webkit-margin-before: -6em;
        img{
            width: 65%;
            @media screen and(max-width:1100px){
                display: none;
            }
        }
    
    }
    .d2-img{
        position: absolute;
        float: left;
        right: 70%;
        margin-top: -4em;
        -webkit-margin-before: -6em;
       
        img{
            width: 60% !important;
            
            @media screen and(max-width:1100px){
                display: none;
            }
        }
    }
    .plateforms{
        margin-top: 4em;
        @media screen and(max-width:850px){
            margin-top: 2em;
        }
        img{
            width: 80px;
            margin-right: 2em;
            @media screen and(max-width:650px){
            margin-top: 2em;
            width: 50px;
            }
        }
       
      .and{
          width: 130px;
          margin-right: 0;
          @media screen and(max-width:650px){
              width: 75px;
          }
      }
    }
  
}